/* Bootstrap Variables Goes Here */

// Colors
//
// Grayscale and brand colors for use across Bootstrap.
// Start with assigning color names to specific hex values.
$white: #fff !default;
$black: #000 !default;
$dark-red: #941713 !default;
$red: #ff3846 !default;
$value-red:#ff5b65!default;
$orange: #e24e0e !default;
$green: #114a44 !default;
$yellow: #ffd500 !default;
$blue: #0275d8 !default;
$sky-blue: #3754e4 !default;
$header-blue: #34098b !default;
$dark-blue: #22263f !default;
$teal: #5bc0de !default;
$pink: #ff5b77 !default;
$purple: #613d7c !default;
$swiper-color: #f85058 !default;
$google-color:#db3236!default;
$twitter-color:#38A1F3!default;
$facebook-color:#4267b2!default;
$hover-blue:#51a6dc!default;
$bg-button:#0069d9 !default;
$border-button:#0062cc !default;
$form-type-text:#101113!default;
$form-radius:3px!default;
$mobile-font-sm:1rem!default;
$mobile-font-lg:1.1rem!default;
$mobile-font-xl:1.5rem!default;
$border-grey:#e1e1e1!default;
$grey-shade:#aaaaaa !default;
$dark-grey:#333333!default;
$fade-grey:#6786a1!default;
$light-grey:#f8f8f8!default;
$grey:#666666!default;
$product-title:#222222!default;
$bg-grey:#3a4d5b!default;
$form-grey:#293945!default;
$bg-button-hover:#b4cad9!default;
$button-hover:#92a8b7!default;
$button-border:#dddddd!default;
$twitter: #46d4fe!default;
$facebook:#37589b!default;
$skype:#11a5f4!default;
$box-shadow:#888888!default;
$light-black:rgba(0,0,0,0.9)!default;
$main-section-title:2.2rem!default;
$sub-title:1.75rem!default;
$product-sub-title:1.25rem!default;
$light-white:#ffffffa6!default;
$inverted-corner: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path fill="#03a9f4" id="concaveCurve" fill-rule="evenodd" d="M0 0c100 0 100 100 100 100V0z"/></svg>');
$heading-bg-color: #03a9f4 !default;
$page-bg-color: #ddd !default;
$fg-color: #fdfdfd !default;
$base-font-size: 16px !default;
